@font-face
  font-family: Sansation
  /* Гарнитура шрифта
  src: url(../fonts/Sansation_Bold.TTF)
/* Путь к файлу со шрифтом


*
  margin: 0
  padding: 0
  font-family: 'Sansation Light', arial

.container-fluid
  margin: 0 auto
  width: 70%

@media (max-width: 500px)
  .container-fluid
    margin: 0 auto
    width: 75%

input[type='number']
  -moz-appearance: textfield
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none

.close-white
  color: #FFFFFF

sl_item:focus
  outline: none
  outline-style: none
a:focus
  outline: none
  outline-style: none
img:focus
  outline: none
  outline-style: none
input:focus
  outline: none
  outline-style: none
textarea:focus
  outline: none
  outline-style: none
button:focus
  outline: none
  outline-style: none


a
  color: #FFFFFF
  text-decoration: none
  cursor: pointer
  position: relative
  display: inline-block
  line-height: 1
  text-decoration:  none
  cursor: pointer
  position: relative
  &:hover
    text-decoration: none
    opacity: 1
    color: #000000


ul li
  list-style-type: none

h1
  color: #FFFFFF
  font-size: 50px

p
  color: #FFFFFF


.btn:focus, .btn:active
  box-shadow:  none

.style-modal
  color: white
  background: transparent
  i
    font-size: 30px

//Эффект синих кнопок
.effect-button-purple

  button
    border: 1px solid #271C36
    border-radius: 100px
    font-size: 16px
    color:   #FFFFFF
    padding: 7px 30px
    background-color: #271C36
    text-transform: capitalize
    &:hover
      background: rgba(0,0,0,0)
      color: #271C36
      transition: all 0.2s ease
      border: 1px solid #271C36


//Эффект белых кнопок
.effect-button-white

  button
    border: 1px solid #FFFFFF
    border-radius: 100px
    font-size: 16px
    color: #FFFFFF
    padding: 7px 30px
    background-color: rgba(255, 255, 255, 0)
    &:hover
      background: #FFFFFF
      color: #271C36
      box-shadow: inset 0 0 0 1px #FFFFFF
      transition: all 0.2s ease

//Эффект прозрачных кнопок
.effect-button-transparent

  button
    border: 1px solid #271C36
    border-radius: 100px
    font-size: 16px
    color:   #271C36
    padding: 7px 50px
    background-color: rgba(255, 255, 255, 0)
    text-transform: capitalize
    &:hover
      background: #271C36
      color: #FFFFFF
      box-shadow: inset 0 0 0 1px #271C36
      transition: all 0.2s ease


//блок обратная связь
#block-questions
  padding-top: 100px
  padding-bottom: 70px
  color: #000000
  position: relative

  .text-questions
    background: #FFFFFF
    border: 2px solid #271C36
    border-radius: 100px
    color: #000000
    padding: 50px 10px

    .name-questions

      p
        color: #000000
        text-transform: uppercase
        font-size: 36px
        font-weight: bold

    .main_block-questions

      p
        color: #000000
        font-size: 16px
        padding-top: 30px
        padding-bottom: 10px

    .form-questions

      .form-group

        .btn-phone
          padding-bottom: 20px

          input
            padding: 10px  60px
            border-radius: 10px
            border: 1px solid rgba(0, 0, 0, 0.5)
            z-index: 1
            position: relative

        .space-left


  .figure-inside
    position: absolute
    top: 295px
    left: 285px

  .figure-outside1
    position: absolute
    top: 20px
    right: 300px
    z-index: -2

  .figure-outside2
    position: absolute
    top: -35px
    right: 260px
    z-index: -1

@media (max-width: 1210px)
  #block-questions
    position: relative

    .figure-inside
      position: absolute
      top: 60%
      left: 15%

    .figure-outside1
      position: absolute
      top: 3%
      right: 20%
      z-index: -2

    .figure-outside2
      position: absolute
      top: -3%
      right: 15%
      z-index: -1

@media (max-width: 730px)
  #block-questions
    .text-questions
      .name-questions

        p
          font-size: 25px

      .form-questions

        .form-group
          .btn-phone
            input
              padding: 10px  20px

@media (max-width: 400px)
  #block-questions
    .text-questions

      .name-questions

        p
          font-size: 20px

      .form-questions

        .form-group
          .btn-phone
            input
              padding: 10px  5px


//Меню-footer
#block-footer
  background-color: #271C36
  padding: 10px

  img
    max-height: 60px

  nav
    padding-top: 5px
    ul
      margin: 0
      li
        width: 100px
        display: inline-block
        padding-left: 10px
        padding-top: 15px
        a
          color: #FFFFFF
          text-decoration: none
          opacity: 0.8
          &:hover
              color: #FFFFFF
              opacity: 1
              border-bottom: 1px solid #FFFFFF
              padding-bottom: 2px
              text-decoration: none
              transition: 0.2s ease-in-out

  .contacts
    padding-top: 5px

    a
      color: #FFFFFF
      text-decoration: none
      opacity: 0.8
      &:hover
          color: #FFFFFF
          opacity: 1
          border-bottom: 1px solid #FFFFFF
          padding-bottom: 2px
          text-decoration: none
          transition: 0.2s ease-in-out

@media (max-width: 990px)
  #block-footer
    .container-fluid
      width: 90%
      .contacts
        padding: 20px

//Modal
.modal-header
  background-color: #271C36

  img
    max-height: 50px

.modal-body
  .form-group
    input, textarea
      width: 100%
      padding: 10px 50px
      border-radius: 10px
      border: 1px solid rgba(0, 0, 0, 0.5)

.modal-footer
  button
    border: 1px solid #271C36
    border-radius: 100px
    font-size: 16px
    color: #FFFFFF
    padding: 7px 30px
    background-color: #271C36
    text-transform: capitalize
    &:hover
      background: #FFFFFF
      color: #271C36
      box-shadow: inset 0 0 0 1px #FFFFFF
      transition: all 0.2s ease

@media (max-width: 450px)
  .modal-footer
    button
      font-size: 14px
      padding: 10px 15px


//Черный шрифт для вложенного меню
.modal-dialog
  .modal-body
    nav
      ul
        li
          a
            color: #000000
            &:hover
              color: #271C36
              text-decoration: none
              border-bottom: 1px solid #271C36

    .contacts
      a
        color: #000000
        &:hover
          color: #271C36
          text-decoration: none
          border-bottom: 1px solid #271C36



