#block-products
  padding: 50px 0 0px 0

  a
    color: #000000

  .name-products

    h1
      font-weight: bold
      padding-bottom: 30px
      font-size: 36px
      color: #000000

  .product

    .image-product

      padding: 20px 0
      img
        max-height: 200px
        border: 1px solid #b1b1b1

  .space-buttom
    padding-bottom: 70px



@media (max-width: 1210px)
  #block-products
    padding-top: 50px

    .product

      .image-product

        padding: 20px 0
        img
          max-height: 150px

@media (max-width: 990px)
  #block-products
    padding-top: 150px

    .product

      .image-product

        padding: 20px 0
        img
          max-height: 120px


@media (max-width: 790px)
  #block-products
    padding-top: 150px

    .product

      .image-product

        padding: 20px 0
        img
          max-height: 130px


@media (max-width: 500px)
  #block-products
    padding-top: 20%

@media (max-width: 400px)
  #block-products
    padding-top: 30%


//#block-products
//  padding: 50px 0 0px 0
//
//  .name-products
//
//    h1
//      font-weight: bold
//      padding-bottom: 30px
//      font-size: 36px
//      color: #000000
//
//  .product
//
//    .image-product
//      padding: 20px 0
//
//      img
//        max-height: 200px
//        border: 1px solid #b1b1b1
//
//  .space-buttom
//    padding-bottom: 70px
//
//
//
//
//@media (max-width: 1200px)
//  #block-products
//    padding-top: 120px
//
//    .product
//
//      .image-product
//        padding: 20px 0
//
//        img
//          max-height: 150px
//
//@media (max-width: 1100px)
//  #block-products
//    padding-top: 90px
//
//@media (max-width: 800px)
//  #block-products
//    padding-top: 100px
//
//
//@media (max-width: 700px)
//  #block-products
//    padding-top: 15%
//
//@media (max-width: 500px)
//  #block-products
//    padding-top: 25%