#block-individual-product {
  padding: 20px 0 20px 0;
}

#block-individual-product h1 {
  font-weight: bold;
  padding: 20px 50px 20px 0;
  font-size: 36px;
  color: #000000;
}

#block-individual-product p {
  color: #000000;
  line-height: 28px;
  font-size: 18px;
  font-weight: bold;
}

#block-individual-product .product-picture img {
  border: 1px solid #b1b1b1;
}

#block-individual-product .intormation-product {
  max-height: 280px;
  overflow: auto;
  padding: 5px 20px;
}

#block-individual-product .intormation-product ul li {
  color: #271C36;
  list-style: square;
  font-size: 18px;
}

#block-individual-product .intormation-product ul li span {
  color: #000000;
}

#block-individual-product .space-left-button {
  padding-left: 50px;
  padding-top: 25px;
}

@media (max-width: 1000px) {
  #block-individual-product {
    padding-top: 150px;
  }

  #block-individual-product h1 {
    padding-left: 0;
  }

  #block-individual-product .space-left-button {
    padding-left: 0;
  }
}

@media (max-width: 700px) {
  #block-individual-product {
    padding-top: 25%;
  }

  #block-individual-product .container-fluid {
    width: 85%;
  }

  #block-individual-product .container-fluid .intormation-product ul li {
    font-size: 12px;
  }
}

