#block-products {
  padding: 50px 0 0px 0;
}

#block-products a {
  color: #000000;
}

#block-products .name-products h1 {
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 36px;
  color: #000000;
}

#block-products .product .image-product {
  padding: 20px 0;
}

#block-products .product .image-product img {
  max-height: 200px;
  border: 1px solid #b1b1b1;
}

#block-products .space-buttom {
  padding-bottom: 70px;
}

@media (max-width: 1210px) {
  #block-products {
    padding-top: 50px;
  }

  #block-products .product .image-product {
    padding: 20px 0;
  }

  #block-products .product .image-product img {
    max-height: 150px;
  }
}

@media (max-width: 990px) {
  #block-products {
    padding-top: 150px;
  }

  #block-products .product .image-product {
    padding: 20px 0;
  }

  #block-products .product .image-product img {
    max-height: 120px;
  }
}

@media (max-width: 790px) {
  #block-products {
    padding-top: 150px;
  }

  #block-products .product .image-product {
    padding: 20px 0;
  }

  #block-products .product .image-product img {
    max-height: 130px;
  }
}

@media (max-width: 500px) {
  #block-products {
    padding-top: 20%;
  }
}

@media (max-width: 400px) {
  #block-products {
    padding-top: 30%;
  }
}

